.footer {
  margin-top: 6px;
  padding: 30px;

  color: white;
  background-color: #1b2046;

  @include md-min {
    padding: 90px 0;
  }
  @include sm-min {
    padding: 50px;
  }

  &-container {
    display: flex;
    flex-direction: column;

    margin: auto;

    @include lg-min {
      max-width: 800px;
    }
    @include md-min {
      flex-direction: row;

      padding: 0 40px;
    }
  }

  &__title {
    margin-bottom: 30px;

    text-align: center;

    flex: 0 0 40%;
    @include md-min {
      margin-bottom: 0;
      padding-right: 20px;

      text-align: left;
    }

    h2 {
      font-size: 1.75rem;
      font-weight: 500;
      line-height: 51px;

      color: $color-accent;

      @include md-min {
        font-size: 2.625rem;
      }
    }
  }
  &__description {
    p {
      font-weight: 300;
      &:first-of-type {
        margin-bottom: 30px;
      }
    }
    a {
      font-weight: 400;

      color: $color-accent;
    }
  }
}
